.todoitem_completed {
  text-decoration: line-through;
}

.todoitem__input {
  transform: scale(1.8);
}
/* .catd__item {
  padding-bottom: 100px;
} */
.mySwiper .swiper-wrapper {
  margin-bottom: 20%;
}
@media (max-width: 768) {
  .mySwiper .swiper-wrapper {
    margin-bottom: 0;
  }
  .catd__item .card-title {
    font-size: 18px;
  }
  .catd__item .card-text {
    font-size: 14px;
  }
  .catd__item svg {
    height: 160px;
  }    

}

.mySwiper .swiper-slide {
  align-items: stretch;
  height: auto;
}

